<section>
    <hgroup class="about-header">
        <h1>About Me</h1>
        <h2>something, something, something</h2>
    </hgroup>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo quam dolor, eget pretium massa ultricies in. Maecenas
        elit nibh, pellentesque eget orci imperdiet, mattis dictum turpis. Curabitur porta porttitor eros, sit amet sagittis
        ante cursus ac. Donec lorem urna, maximus laoreet tincidunt non, fermentum sed purus. Donec quis congue est, a viverra
        ligula. Nullam porta quam vel consequat iaculis. Aenean dictum efficitur semper. Phasellus fringilla, nisl quis consectetur
        facilisis, sem elit tristique erat, in pharetra dolor neque id libero. Nullam dolor nisi, sollicitudin quis nunc
        nec, porttitor bibendum nisl. Maecenas id viverra dui, eu fringilla purus. Integer dolor tortor, varius sed mauris
        et, condimentum malesuada ligula. Morbi sodales mi quis arcu faucibus suscipit. Aliquam erat volutpat. Etiam vel
        dui varius, semper dui efficitur, viverra augue.
    </p>
</section>